/*every board releated styles*/

.root{
	-fx-background-color: black;
    -fx-font: 20px "Impact";
}

.label{
    -fx-text-fill: white;
}

.button{
    -fx-background-color:#d2a679;
    -fx-font: 26 "Impact" ;
      -fx-text-fill: black;
    -fx-pref-width: 50px;
    -fx-pref-height:50px;
    -fx-border-color:  #604020;
    -fx-border-width:2;
    -fx-padding:0;
}

#Taken:pressed{
	-fx-background-color: red;	
}

.button:hover{
    -fx-background-color:#ac7339;
}


.button:pressed{
    -fx-background-color:#4d3319;
}

.menu .label{
    -fx-text-fill: green;
}

#plNameText{
    -fx-text-fill: #c1d9ff;
    -fx-font: 25 "Times New Roman";
}









